<%- include('./partials/adminHeader'); %>


<div >
    <%- include('./partials/adminAside'); %>

    <h2>Change blog cover image</h2>

    <div>
     
        <form action="/admin/blog/<%=blog._id%>/blog-edit-cover" method="post" enctype="multipart/form-data">

            <label for="">Cover</label>
            <input type="file" name="cover">

            <br>



            <button type="submit">Aktualizuj</button>
        </form>
     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>