<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper" >
    <%- include('./partials/adminAside'); %>

    <h3>Change blog cover image</h3>

    <div>
     
        <form action="/admin/blog/<%=blog._id%>/blog-edit-cover" method="post" enctype="multipart/form-data">

            <input type="file" name="cover">

            <button class="saveBtn"  type="submit">Update cover</button>
            
        </form>
     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>