<%- include('./partials/adminHeader'); %>


<div  class="addContent__wrapper">
    <%- include('./partials/adminAside'); %>

    <h3>Create Category</h3>

    <div>
        <form action="/admin/categories/create" method="post">

            <% logs.forEach(function(log) { %>
                <div>
                    <%= log %>
                </div>
            <% }) %>

            <div>
                <label for="">Name</label>
                <br>
                <input type="text" placeholder="Name" name="name">
            </div>
            <div>
                <label for="">Slug</label>
                <br>
                <input type="text" placeholder="slug" name="slug">
            </div>


            <button class="saveBtn" type="submit">Create</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %>