<%- include('./partials/adminHeader'); %>


<div class="admin__dashboard">
    <%- include('./partials/adminAside'); %>

    <h2><%= userEmail %></h2>
</div>



<%- include('./partials/adminFooter'); %>