<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main-admin.css">
    <title>SB Admin 2 - Login</title>
    

</head>

<body >
    <div class="authContainer">

        <!-- Outer Row -->
        <div class="authWrapper">

            <% if (errors) { %>
                <div class="alert">
                    <% errors.forEach((err) => { %>
                          <p><%= err %></p>
                     <%}) %>
                 </div>
                <%} %>
        
                <% if (middleError) { %>
                    <div class="alert">      
                        <p><%= middleError %></p> 
                     </div>
                <%} %>

            <div class="socialBox">
                <h3>Sign in Admin</h3>
                <div class="socialBox__icons">
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
            </div>

            <form  action="/admin/login" method="post">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
    
                <button class="editBtn altBtn" type="submit">Login</button>
            </form>
    
            <p class="authLink">Don't have an account? <a href="/admin/register">Sign up</a></p>
        </div>


        <a class="authBack" href="/"><i class="bi bi-house-door-fill"></i></a>


    </div>

</body>

</html>