<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper">
    <%- include('./partials/adminAside'); %>

    <h3>Create Service Category</h3>

    <div>
        <form action="/admin/services/create/category" method="post">
            <label for="">Name</label>
            <br>
            <input type="text" placeholder="Name" name="name">
            <button class="saveBtn" type="submit">Create</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %>