<%- include('./partials/header'); %>
                <!-- /Header -->

                <!-- Container -->
                    <main class="ms-container">
                 

                        <!-- Contact -->
                            <section class="ms-section">
                                <div class="ms-section__block">
                                    <div id="contact" class="row">
                                        <div class="c-info col-md-3">
                                            <h6>the office</h6>
                                            <p>25 Parker St. London WC2B 5PJ UK</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>telephone</h6>
                                            <p>+44 (0)20 7830 1387</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>email</h6>
                                            <p>test@mail.com</p>
                                        </div>
                                        <div class="c-info col-md-3">
                                            <h6>social</h6>
                                            <ul class="cs-list">
                                                <li><a href="#" class="socicon-facebook ms-btn"></a></li>
                                                <li><a href="#" class="socicon-instagram ms-btn"></a></li>
                                                <li><a href="#" class="socicon-twitter ms-btn"></a></li>
                                            </ul>
                                        </div>
                                        <div class="contact-form col-md-8">

                                            <% errors.forEach((err) => {  %>
                                                <p><%=err %></p>
                                            <%})%>
                                            <% errors.forEach((success) => {  %>
                                                <p><%=success %></p>
                                            <%})%>

                                            <h6>Get in touch</h6>
                                            <br>
                                            <form id="validForm" action="/contact" method="post">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" name="name" class="form-control" id="cl" placeholder="Your name" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" name="email" class="form-control" placeholder="Email address" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <textarea name="message" class="form-control" id="message" placeholder="Your message"></textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                   
                                                          <input type="submit">Send</input>
                                                  
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        <!-- /Contact -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container -->
                <%- include('./partials/footer'); %>
