    <!-- Footer -->
    <footer class="ms-footer">
        <ul class="footer-socials">
            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
            <li><a href="#" class="ms-btn" target="_blank">instagram</a></li>
        </ul>
        <div class="copyright">2018 © MadSparrow</div>
    </footer>
<!-- /Footer -->

</div>
<!-- /Wrapper -->
<!-- JS -->
<!-- jquery-2.1.3.min js -->
<script src='assets/js/jquery-3.2.1.min.js'></script>
<!-- Plugins -->
<script src='assets/js/plugins.min.js'></script>       
<!-- Main js -->
<script src="assets/js/main.js"></script>
</body>
</html>