    <!-- Footer -->
    <footer class="ms-footer">
        <ul class="footer-socials">
            <li><a href="#" class="ms-btn" target="_blank">dribbble</a></li>
            <li><a href="#" class="ms-btn" target="_blank">behance</a></li>
            <li><a href="<%=settings.instagram%>" class="ms-btn" target="_blank"><%=settings.instagram%></a></li>
        </ul>
        <div class="copyright">2018 © MadSparrow</div>
    </footer>
<!-- /Footer -->

</div>

<!-- Main js -->

</body>
</html>