.admin__aside {
  position: fixed;
  top: 8px;
  left: 4px;
  width: 265px;
  background: $gradientBlack;
  min-height: 97vh;
  padding: 10px 20px;
  border-radius: 12px;

  .aside__header {
      @include flex(null,center,null,10px);
      margin-bottom: 45px;
      position: relative;
      .aside__logo {
        margin-top: 15px;
          background-color: $black;
          height: 45px;
          width:45px;
          border-radius: 15px;
          opacity: 0.9;
          @include flex(null,center,center);

          img {
              width:28px;
          }
      }
      .aside__title {
        line-height: 16px;
          p {
              @include text(10px,400,$gray)
          }
          h3 {
              @include text(19px, 400,$white)
          }
      }
  }

  ul {
    @include flex(column, flex-start, null, 24px);

    a {
      display: flex;
      align-items: center;
      @include text(14px, 400, $gray, null);

      i {
        font-size: 18px;
        margin-right: 9px;
      }
    }

    .logout {
      position: absolute;
      bottom: 25px;
      background: $gradientPurple;
      width: 85%;
      text-align: center;
      height: 40px;
      border-radius: 15px;
      text-transform: uppercase;
      @include flex(null,center,center,7px);
      cursor: pointer;

      @media(max-width:768px) {
        left:5px;
        button {
          font-size: 0px !important;
        }
      }

      i {
        color: $white;
        font-size: 18px;

      }
      button {
        background-color: transparent;
        @include text(12px,600,$white);
        border: none;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 768px) {
  .admin__aside {
    width: 60px;
    padding-top: 30px;
    left: 0;
    top:0;
    min-height: 100vh;
    border-radius: 0;

    a > p {
      display: none !important;
    }

    .aside__title {
        display: none;
    }
    .aside__logo {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
  }
}
