$gradientBlue: linear-gradient(0deg, rgba(55,120,217,1) 20%, rgba(32,102,205,1) 100%);
$gradientBlack:linear-gradient(0deg, rgba(25,25,25,1) 19%, rgba(48,48,48,1) 54%, rgba(71,71,71,1) 89%);
$gradientPurple:linear-gradient(342deg, rgba(241,44,138,1) 19%, rgba(231,14,117,1) 54%, rgba(190,13,97,1) 89%);
$gradientGreen:linear-gradient(0deg, rgba(43,150,52,1) 20%, rgba(102,203,111,1) 100%);
$gradientYellow:linear-gradient(0deg, rgba(250,223,112,1) 20%, rgba(245,210,67,1) 100%);



$white: #ffffff;
$gray: rgb(238, 238, 238);
$black: rgb(29, 29, 29);
$darkGray:rgb(114, 114, 114);
$backgroundGray:rgb(236, 235, 235);