.blogDetails__wrapper {
    padding: 70px 0;

    .blog__banner {
        @include flex(row,center,flex-start);
        min-height: 490px;
        padding: 60px 0;
        margin-bottom: 30px;
        position: relative;
        background-size: cover;
        background-position: center;
        &:before {
            content: "";
            position: absolute;
            top:0;
            left:0;
            width:100%;
            background-color: #000;
            opacity: 0.6;
            height: 100%;
            z-index: 1;
        }

        .blog__inner {
            margin:0 auto;
            width:80%;
            z-index: 2;
        }
        .blog__title {
            @include text (5rem,700,$white);
            text-transform: uppercase
        }
        span {
            @include subtitle;
            color: $white;
            @media(max-width:768px) {
                color: $white;
             }
             &::before { 
                border: 1px solid $white; 
                @media(max-width:768px) {
                    border: 1px solid $white;
                }
            }
        }
        .blog__desc {
            color: $white;
            margin-top: 20px;
            line-height: 2;
            font-size: 1.8rem;
        }
    }


    .content__wrapper {
        width: 80%;
        margin: 0px auto;
        .content {
            p {
                @include text(1.6rem, 400, $black);
                font-family: Lato, sans-serif;
            }
    
            img {
                text-align: center;
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
    
            h2 {
                @include text(2.6rem, 700, $black);
                margin: 15px 0;
            }
    
            a {
                @include text(1.6rem, 700, $black);
                text-decoration: none;
            }
        }
    }


}