

</div>
<footer>

</footer>



<script src="../../../ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'editor', {
        height: 400
    } );
</script>

<script src="../../../assets/js/admin/admin.js"></script>

</body>
</html>