<aside class="admin__aside">

  <header class="aside__header">
    <div class="aside__logo">
      <img src="/assets/icons/LemonBayLogo.png" alt="LemonBay Dawid Tomczyk Logo" />
    </div>

    <div class="aside__title">
      <p>Powered by</p>
      <h3>LemonBay</h3>
    </div>

  </header>

  <ul>
    <a href="/admin">
      <i class="bi bi-house-door"></i>
      <p> Dashboard</p>
    </a>

    <a href="/admin/services">
      <i class="bi bi-file-image"></i>
      <p> Services</p>
    </a>

    <a href="/admin/blog">
      <i class="bi bi-box-seam"></i>
      <p> Blog</p>
    </a>

    <a href="/admin/posts">
      <i class="bi bi-file-earmark-medical"></i>
      <p> Portfolio</p>
    </a>


    <a href="">
      <i class="bi bi-chat-right-dots"></i>
      <p>
        Comments</p>
    </a>

    <a href="">
      <i class="bi bi-envelope"></i>
      <p> Messages</p>
    </a>

    <a href="/admin/about">
      <i class="bi bi-people"></i>
      <p> About</p>
    </a>

    <a href="/admin/categories">
      <i class="bi bi-clock-history"></i>
      <p>
        Categories</p>
    </a>
    <a href="">
      <i class="bi bi-trash3"></i>
      <p>
        Deleted</p>
    </a>

    <form action="/admin/logout" method="post">
    
        <i class="bi bi-box-arrow-left"></i>
        <button type="submit">Logout</p>
    
    </form>

    <a href="/admin/posts/create">
      <i class="bi bi-gear"></i>
      <p> Settings</p>
    </a>

  </ul>
</aside>